@font-face {
    font-family: 'GE SS Unique';
    src: url('GESSUniqueBold-Bold.woff2') format('woff2'),
        url('GESSUniqueBold-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GE SS Unique';
    src: url('GESSUniqueLight-Light.woff2') format('woff2'),
        url('GESSUniqueLight-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

